
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Fira Code", cursive;
        background-image: url("https://cdn.wallpapersafari.com/7/47/Vx93wq.jpg");
            background-color: rgb(182, 137, 182);
            font-size: 125%;
  }
  
  main {
    display:block;
    height:175px;
  }
  
  header {
    border-bottom: 2px solid black;
    text-align:center;
    background-color: white;
  }
  
  h1 {
    font-weight: bold;
    color: #000;
  }
  
  .bold {
    font-weight: bold;
  }
  
  p {
    max-width: 600px;
  }
  
  
  li {
    margin-bottom: 5px;
  }
  
  footer {
    padding-top: 25px;
    border-top: 1px solid black;
  }
  
  footer a {
    float:left;
    margin:5px;
  }
  
/* Overlay styling */
.overlay {
  top: 0;
  left: 0;
  margin-top: 120px;
  width: 100%;
  height: 30%;
  display: flex;
  align-items: top;
  justify-content: left;
  padding: 10px;
  z-index: 9999;
  position: absolute;
}

.overlay-content {
  background: grey;
  padding: 2em;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.pet-image-container {
  overflow:hidden;
  margin:auto;
  margin-top:10px;
  display:flex;
  max-height: 1000;
  align-items:left;
  justify-content:center;  
}

.pet-image {
  position:relative;
  width:auto;
  height:1000;
  max-width:none;
  max-height:1000; 
}


.dashboard {
  padding:10px;
  text-align:left;
  margin-left: 10%;
}

.dashboard div {
  display:block;
}

.name-entry{
  margin:auto;
  text-align:left;
}

input {
  font-family: "Fira Code", cursive;
  width:150px;
  border-radius: 5px;
  border-color: white;
  border:2px solid black;
}

button {
  font-family: "Fira Code", cursive;
  width:80px;
  height:30px;
  margin:20px;
  border-radius:10px;
  text-align:center;
  font-size:15px;
  background-color:#3364a4;
  color:black;
  cursor:pointer;
  border:none;

}
button:hover {
 background-color:rgb(15, 132, 114);
 border: 2px solid black;
 
}
button:active {
  background-image:linear-gradient(to right bottom,rgba(173, 251, 199, 0.75)0%,rgba(160, 255, 179, 0.6)66%);
}
